.cart-component {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.cart {
  display: flex;
  background-color: orange;
  padding: 15px;
  border-radius: 30px;

  position: relative;
  &__icon {
    width: 20px;
    height: 20px;
    color: white;
  }
  &__counter {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 100px;

    position: absolute;
    bottom: -5px;
    right: 0;
  }
}

.amountOfMoney {
  color: white;
  padding: 4px;
}
