.form {
  max-width: 300px;
  &__label {
    font-size: 17px;
    display: block;
    color: black;
    font-weight: 600;
  }
  &__input {
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cacaca;
    width: 100%;
    &:focus {
      outline-style: inherit;
      border: 1px solid rgb(5, 186, 247);
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px lightblue;
    }
  }

  &__origin-select {
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cacaca;
    width: 100%;
    &:focus {
      outline-style: inherit;
      border: 1px solid rgb(5, 186, 247);
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px lightblue;
    }
  }
  &__errors {
    color: red;
  }
}
