.products-cart {
  padding: 20px;

  &__total {
    font-size: 25px;
    font-weight: bold;
    background: radial-gradient(#000000, #0a9396);
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #0a9396;
    &:hover {
      opacity: 0.7;
    }
  }
}
