.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 150px;
  &__amount {
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    width: 50px;
    height: 30px;
    text-align: center;
  }
  &__minus {
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(233, 186, 98);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
  }
}
