.form {
  width: 350px;

  &__label {
    font-size: 17px;
    display: block;
    color: black;
    font-weight: 600;
  }
  &__input {
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cacaca;
    width: 100%;
    &:focus {
      outline-style: inherit;
      border: 1px solid rgb(5, 186, 247);
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px lightblue;
    }
  }

  &__origin-select {
    padding: 5px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cacaca;
    width: 100%;
    &:focus {
      outline-style: inherit;
      border: 1px solid rgb(5, 186, 247);
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px lightblue;
    }
  }
  &__errors {
    color: red;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;

    &__submit {
      margin-right: 6px;
      padding: 5px;
      width: 80px;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 3px;
      box-shadow: 1px 1px 12px 1px #e5e5e5;
      background-color: #1890ff;
      border: none;
      color: white;
      transition: all 0.1s linear;
      &:hover {
        background-color: #1890ff;
        opacity: 0.7;
      }
      &:disabled {
        cursor: not-allowed;
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        opacity: 0.4;
      }
    }
    &__reset {
      margin-right: 6px;
      padding: 5px;
      width: 80px;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 3px;
      box-shadow: 1px 1px 12px 1px #e5e5e5;
      border: 1px solid #e5e5e5;
      color: black;
      background-color: white;
      transition: all 0.1s linear;

      &:hover {
        border: 1px solid #1890ff;
        color: #1890ff;
        text-shadow: 0px 1px 0px white;
      }
      &:disabled {
        cursor: not-allowed;
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        opacity: 0.4;
      }
    }
  }
}
