.table-of-orders {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  &__thead {
    font-size: 18px;
    background-color: #001219;
    color: white;
  }
  &__tbody {
  }
}
tr:nth-child(even) {
  background-color: #dddddd;
}

td,
th {
  font-size: 17px;

  text-align: left;
  padding: 10px;
}
.details {
  font-size: 17px;
}
