.header {
  display: flex;
  background-color: #0a9396;
  height: 70px;
  &__logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    padding-left: 20px;
    flex: 18%;
    &__text {
      border-bottom: 3px solid orange;
      border-top: 3px solid orange;
      padding: 4px;
      border-radius: 5px;
    }
  }
  &__navbar {
    display: flex;
    height: 100%;
    list-style: none;
    flex: 33%;
    justify-content: flex-end;
    background-color: inherit;

    &__item {
      display: flex;
      align-items: center;
      padding: 4px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.2s linear;
      &.active {
        background-color: #94d2bd;
      }

      &:hover {
        color: white;
        background-color: #94d2bd;
      }
    }
  }
  &__blocks {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 33%;
    &__modal {
      background-color: #0a9396;
      border: 1px solid white;
      color: white;
      padding: 5px 15px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 2px 0px white;
      border-radius: 4px;
      transition: all 0.2s linear;
      &:hover {
        border: 1px solid orange;
        color: orange;
        box-shadow: 0px 0px 2px 0px orange;
      }
    }
  }
}
