.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a9396;
  height: 70px;
  &__logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
    padding: 4px;
    border-radius: 5px;
    margin-left: 20px;
  }
  &__navbar {
    display: flex;
    height: 100%;
    list-style: none;

    &__item {
      display: flex;
      align-items: center;
      padding: 4px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.2s linear;
      &.active {
        background-color: #94d2bd;
      }

      &:hover {
        color: white;
        background-color: #94d2bd;
      }
    }
  }
}
